output
qa
temp
template
.DS_Store
input-cache/schemas/
input-cache/workgroups.xml
input-cache/txcache/
input-cache/publisher.jar

# Local development
node_modules
toc.js
package*.json

# Local validation
_updateValidator.sh
_validate.sh
validator_cli.jar
