<div>
    <h2> CDA FHIR Definition </h2>
    <p> This FHIR Implementation Guide represents CDA using the FHIR Type Definition Framework</p>

<h3>Classes defined in CDA</h3>

<table style="border: 0px">
	<tbody>
	<tr>
		<td>
			<ul>
				<li><a href="StructureDefinition-Act.html">Act (CDA Class)</a></li>
				<li><a href="StructureDefinition-AssignedAuthor.html">AssignedAuthor (CDA Class)</a></li>
				<li><a href="StructureDefinition-AssignedCustodian.html">AssignedCustodian (CDA Class)</a></li>
				<li><a href="StructureDefinition-AssignedEntity.html">AssignedEntity (CDA Class)</a></li>
				<li><a href="StructureDefinition-AssociatedEntity.html">AssociatedEntity (CDA Class)</a></li>
				<li><a href="StructureDefinition-AuthoringDevice.html">AuthoringDevice (CDA Class)</a></li>
				<li><a href="StructureDefinition-Birthplace.html">Birthplace (CDA Class)</a></li>
				<li><a href="StructureDefinition-ClinicalDocument.html">ClinicalDocument (CDA Class)</a></li>
				<li><a href="StructureDefinition-Consent.html">Consent (CDA Class)</a></li>
				<li><a href="StructureDefinition-Criterion.html">Criterion (CDA Class)</a></li>
				<li><a href="StructureDefinition-CustodianOrganization.html">CustodianOrganization (CDA Class)</a></li>
				<li><a href="StructureDefinition-Device.html">Device (CDA Class)</a></li>
				<li><a href="StructureDefinition-EncompassingEncounter.html">EncompassingEncounter (CDA Class)</a></li>
				<li><a href="StructureDefinition-Encounter.html">Encounter (CDA Class)</a></li>
				<li><a href="StructureDefinition-Entity.html">Entity (CDA Class)</a></li>
				<li><a href="StructureDefinition-ExternalAct.html">ExternalAct (CDA Class)</a></li>
				<li><a href="StructureDefinition-ExternalDocument.html">ExternalDocument (CDA Class)</a></li>
				<li><a href="StructureDefinition-ExternalObservation.html">ExternalObservation (CDA Class)</a></li>
				<li><a href="StructureDefinition-ExternalProcedure.html">ExternalProcedure (CDA Class)</a></li>
				<li><a href="StructureDefinition-Guardian.html">Guardian (CDA Class)</a></li>
				<li><a href="StructureDefinition-HealthCareFacility.html">HealthCareFacility (CDA Class)</a></li>
				<li><a href="StructureDefinition-InfrastructureRoot.html">InfrastructureRoot</a></li>
				<li><a href="StructureDefinition-IntendedRecipient.html">IntendedRecipient (CDA Class)</a></li>
				<li><a href="StructureDefinition-LabeledDrug.html">LabeledDrug (CDA Class)</a></li>
				<li><a href="StructureDefinition-LanguageCommunication.html">LanguageCommunication (CDA Class)</a></li>
				<li><a href="StructureDefinition-MaintainedEntity.html">MaintainedEntity (CDA Class)</a></li>
				<li><a href="StructureDefinition-ManufacturedProduct.html">ManufacturedProduct (CDA Class)</a></li>
				<li><a href="StructureDefinition-Material.html">Material (CDA Class)</a></li>
				<li><a href="StructureDefinition-NonXMLBody.html">NonXMLBody (CDA Class)</a></li>
				<li><a href="StructureDefinition-Observation.html">Observation (CDA Class)</a></li>
				<li><a href="StructureDefinition-ObservationMedia.html">ObservationMedia (CDA Class)</a></li>
				<li><a href="StructureDefinition-ObservationRange.html">ObservationRange (CDA Class)</a></li>
				<li><a href="StructureDefinition-Order.html">Order (CDA Class)</a></li>
				<li><a href="StructureDefinition-Organization.html">Organization (CDA Class)</a></li>
				<li><a href="StructureDefinition-OrganizationPartOf.html">OrganizationPartOf (CDA Class)</a></li>
				<li><a href="StructureDefinition-Organizer.html">Organizer (CDA Class)</a></li>
				<li><a href="StructureDefinition-ParentDocument.html">ParentDocument (CDA Class)</a></li>
				<li><a href="StructureDefinition-ParticipantRole.html">ParticipantRole (CDA Class)</a></li>
				<li><a href="StructureDefinition-Patient.html">Patient (CDA Class)</a></li>
				<li><a href="StructureDefinition-PatientRole.html">PatientRole (CDA Class)</a></li>
				<li><a href="StructureDefinition-Person.html">Person (CDA Class)</a></li>
				<li><a href="StructureDefinition-Place.html">Place (CDA Class)</a></li>
				<li><a href="StructureDefinition-PlayingEntity.html">PlayingEntity (CDA Class)</a></li>
				<li><a href="StructureDefinition-Procedure.html">Procedure (CDA Class)</a></li>
				<li><a href="StructureDefinition-RegionOfInterest.html">RegionOfInterest (CDA Class)</a></li>
				<li><a href="StructureDefinition-RelatedEntity.html">RelatedEntity (CDA Class)</a></li>
				<li><a href="StructureDefinition-RelatedSubject.html">RelatedSubject (CDA Class)</a></li>
				<li><a href="StructureDefinition-Section.html">Section (CDA Class)</a></li>
				<li><a href="StructureDefinition-ServiceEvent.html">ServiceEvent (CDA Class)</a></li>
				<li><a href="StructureDefinition-SpecimenRole.html">SpecimenRole (CDA Class)</a></li>
				<li><a href="StructureDefinition-StructuredBody.html">StructuredBody (CDA Class)</a></li>
				<li><a href="StructureDefinition-SubjectPerson.html">SubjectPerson (CDA Class)</a></li>
				<li><a href="StructureDefinition-SubstanceAdministration.html">SubstanceAdministration (CDA Class)</a></li>
				<li><a href="StructureDefinition-Supply.html">Supply (CDA Class)</a></li>
			</ul>
		</td>
		<td>
			<h3>V3 Data Types</h3>
			<ul>
				<li><a href="StructureDefinition-AD.html">AD: PostalAddress (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-ANY.html">ANY: DataValue (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-BL.html">BL: Boolean (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-CD.html">CD: ConceptDescriptor (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-CE.html">CE: CodedWithEquivalents (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-CO.html">CO: CodedOrdinal (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-CR.html">CR: ConceptRole (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-CS.html">CS: CodedSimpleValue (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-CV.html">CV: CodedValue (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-ED.html">ED: EncapsulatedData (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-EIVL_TS.html">EIVL_TS: EventRelatedPeriodicInterval (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-EN.html">EN: EntityName (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-II.html">II: InstanceIdentifier (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-INT.html">INT: IntegerNumber (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-IVL_INT.html">IVL_INT: Interval (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-IVL_PQ.html">IVL_PQ: Interval (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-IVL_TS.html">IVL_TS: Interval (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-MO.html">MO: MonetaryAmount (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-PIVL_TS.html">PIVL_TS: PeriodicIntervalOfTime (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-PQ.html">PQ: PhysicalQuantity (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-PQR.html">PQR: PhysicalQuantityRepresentation (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-QTY.html">QTY: Quantity (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-REAL.html">REAL: RealNumber (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-RTO_PQ_PQ.html">RTO_PQ_PQ: Ratio (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-SC.html">SC: CharacterStringWithCode (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-ST.html">ST: CharacterString (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-SXCM_TS.html">SXCM_TS: GeneralTimingSpecification (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-SXPR_TS.html">SXPR_TS: Component part of GTS (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-TEL.html">TEL: TelecommunicationAddress (V3 Data Type)</a></li>
				<li><a href="StructureDefinition-TS.html">TS: PointInTime (V3 Data Type)</a></li>
			</ul>
		</td>
	</tr>
	</tbody>
</table>
<ul>
</ul>

</div>
